<h1>Home page</h1>

<img src="/images/home.jpg" alt = "nice pic"> 


<section>
    <form method="GET" action="/pizzas"><!--Sednding a get request to this url,
    method can only be "GET" or "POST", 
    action points out to the url we want to place the form into-->

        <label for="">
            Max Price:
            <input type="number" name="maxPrice" />

        </label>


        <button type="submit">Submit</button>
    </form>
</section>

<section>
    <h3>Login:</h3>
    <form method="POST" action="/login">
    <label>
        Email:
        <input type="email" name="emailaddress" required>
    </label>

    <label>
        Password:
        <input type="password" name="pwd" required>
    </label>
    <button type="submit">Log in</button>
    </form>

</section>


{{> ctaOrderNow}}